* {
    margin: 0;
    padding: 0;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
}
:root {
    --index: calc(1vw + 1vh);
}
.game {
    background: #9DCAFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
    position: relative;
    &__main {
        display: flex;
    }
    &__ai-hand {
        // height: 1643px;
        height: calc(var(--index)*55);
        transform: rotate(50deg);
        position: absolute;
        top: 3%;
        left: -9%;
        z-index: 0;
    }
    &__human-hand {
        // height: 1643px;
        height: calc(var(--index)*53);
        transform: rotate(-50deg);
        position: absolute;
        top: 1%;
        right: -12%;
        z-index: 0;
    }
    &__result {
        text-shadow: 4px 4px 0px #000;
        font-size: calc(var(--index)*5);
        letter-spacing: -9.6px;
        margin-bottom: 36px;
        text-transform: uppercase;
    }
    &__final {
        display: flex;
        flex-direction: column;
        padding-bottom: 126px;
    }
    &__next-round, &__restart {  
        padding: 8px;
        border: 2px solid #000;
        background: #FFF;
        box-shadow: 4px 4px 0px 0px #000, 4px -7px 0px 0px #C2C2C2 inset;
        cursor: pointer;
        transition: 0.3s;
        font-family: 'Shrikhand', sans-serif;
        font-size: calc(var(--index)*1);
        color: #000;
        &:hover {
            transform: rotate(-10deg);
        }        
    }
    &__next-round {
        margin-right: 24px;
    }
}
.score {
    padding-top: 97px;
    max-width: 582px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    &__number {
        text-shadow: 4px 4px 0px #000;
        font-size: calc(var(--index)*5.5);
    }
    &__player {
        text-shadow: 4px 4px 0px #000;
        font-size: calc(var(--index)*1.25);
        letter-spacing: -4.8px;
        margin-top: -23px;
    }
}
.player-choice {
        margin-bottom: 62px;
        display: flex;
        gap: 31px;
        z-index: 1;
    &__button {
        background-color: white;
        border-radius: 50%;
        border: 0px;
        box-shadow: 3px 5px 2px black, inset 2px -5px 1px rgb(179, 178, 178);
        height: calc(var(--index)*5);
        width: calc(var(--index)*5);
        position: relative;
        &:hover{
            transform: rotate(-10deg);
        }
    }
    &__button img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25%;
        height: calc(var(--index)*6);
        cursor: pointer;
        transition: 0.3s;
        
    }
}
.mobile__warning {
    display: none;
}
.d-none {
    display:none;
}

@media (max-width: 1200px) {
    .game {
        &__ai-hand {
            height: calc(var(--index)*40);
            top: 15%;
        }
        &__human-hand {
            height: calc(var(--index)*38);
            top: 15%;
        }
        &__result {
            font-size: calc(var(--index)*3);
            letter-spacing: 2px;
        }
    }
}
@media (orientation:portrait) and (max-width: 600px) {
    .game {
        justify-content: center;
        &__score {
            display: none;
        }
        &__main {
            display: none;
        }
    }
    .mobile__warning {
        display: block;
        text-shadow: 4px 4px 0px #000;
        font-size: 48px;
    }
}
@media (orientation: landscape) and (max-height: 600px) {
    .score {
        padding-top: 20px;
        max-width: 300px;
        &__player {
            margin-top: -10px;
            letter-spacing: 0px;
        }
    }
    .game {
        &__ai-hand {
            top: 10%;
            left: -5%;
        }
        &__human-hand {
            top: 10%;
            right: -5%;
        }
        &__result {
            font-size: calc(var(--index)*3);
            letter-spacing: 2px;
            // margin-bottom: 3px;
        }
        &__final{
            padding-bottom: 20px;
        }
    }
    .player-choice {
        margin-bottom: 20px;
    }
}